<div>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="footer-heading">Company</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2"><a href="" class="text-white">Home</a></div>
                    <div class="mb-2"><a href="" class="text-white">About Us</a></div>
                    <div class="mb-2"><a href="" class="text-white">Contact Us</a></div>
                        <div class="mb-2"><a href="" class="text-white">Blogs</a></div>
                        <div class="mb-2"><a href="" class="text-white">Sitemaps</a></div>
                        <hr>

                        <h4 class="footer-heading">Our Services</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2"><a href="" class="text-white">Order Medicine</a></div>
                    <div class="mb-2"><a href="" class="text-white">Healthcare Products</a></div>
                    <div class="mb-2"><a href="" class="text-white">Lab Tests</a></div>
                    <div class="mb-2"><a href="" class="text-white">Branded Medicines</a></div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading">Shop Now</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2"><a href="" class="text-white">Top Products</a></div>
                        <div class="mb-2"><a href="" class="text-white">Health Care</a></div>
                        <div class="mb-2"><a href="" class="text-white">Personal Care</a></div>
                        <div class="mb-2"><a href="" class="text-white">Skin Care</a></div>
                        <div class="mb-2"><a href="" class="text-white">Cart</a></div>
                        <div class="mb-2"><a href="" class="text-white">Ayurvedic Care</a></div>
                        <div class="mb-2"><a href="" class="text-white">Mother & Baby Care</a></div>
                        <div class="mb-2"><a href="" class="text-white">Sexual Safety Wellness</a></div>
                        <div class="mb-2"><a href="" class="text-white">Diabetic Care</a></div>
                        <div class="mb-2"><a href="" class="text-white">Fitness Supplements</a></div>
                        <div class="mb-2"><a href="" class="text-white">Health Condition</a></div>
                        <div class="mb-2"><a href="" class="text-white">Trending Products</a></div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading">Policy Info</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2"><a href="" class="text-white">Editorial Policy</a></div>
                        <div class="mb-2"><a href="" class="text-white">Privacy Policy</a></div>
                        <div class="mb-2"><a href="" class="text-white">Personal Care</a></div>
                        <div class="mb-2"><a href="" class="text-white">Skin Care</a></div>
                        <div class="mb-2"><a href="" class="text-white">Cart</a></div>
                        <div class="mb-2"><a href="" class="text-white">Ayurvedic Care</a></div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading">Follow Us On</h4>
                        <div class="footer-underline"></div>
                        <fa-icon [icon]="['fab', 'facebook']" style="color: #3b5998; margin-right: 15px; font-size: 28px; cursor:pointer;"></fa-icon>
                        <fa-icon [icon]="['fab', 'twitter']" style="color: #1da1f2; margin-right: 15px; font-size: 28px; cursor:pointer;"></fa-icon>
                        <fa-icon [icon]="['fab', 'instagram']" style="color: #c13584; margin-right: 15px; font-size: 28px; cursor:pointer;"></fa-icon>
                        <fa-icon [icon]="['fab', 'youtube']" style="color: #ff0000; font-size: 28px; cursor:pointer;"></fa-icon>                        
                    </div>                      
                </div>
            </div>
            
        </div>
    </div>

    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5" style="background-color: #10847E;">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2024 E-MEDICINE. All Rights Reserved!
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
    